/* Ocean Dark Theme */
/* Source from - https://github.com/highlightjs/highlight.js/blob/master/src/styles/ocean.css */


/* General Layout */
figure.highlight
    display block
    overflow-x auto
    background #2b303b
    .line
        color #c0c5ce
        margin-right 10px
    padding 0.5em
    border-radius 10px
    .gutter
        .line
            color rgba(#c0c5ce, 0.3)


/* Code Style */
figure.highlight
    .comment, .quote
        color #65737e


/* Ocean Red */
figure.highlight
    .variable,
    .template-variable,
    .tag,
    .name,
    .selector-id,
    .selector-class,
    .regexp,
    .deletion
        color #bf616a


/* Ocean Orange */
figure.highlight
    .number,
    .built_in,
    .builtin-name,
    .literal,
    .type,
    .params,
    .meta,
    .link
        color #d08770


/* Ocean Yellow */
figure.highlight
    .attribute
        color #ebcb8b


/* Ocean Green */
figure.highlight
    .string,
    .symbol,
    .bullet,
    .addition
        color #a3be8c


/* Ocean Blue */
figure.highlight
    .title,
    .section
        color #8fa1b3


/* Ocean Purple */
figure.highlight
    .keyword,
    .selector-tag
        color #b48ead


figure.highlight
    .emphasis
        font-style italic

figure.highlight
    .strong
        font-weight bold
