<div class="container">
    <div class="friends-band">
        <div class="item-1">
            <a href="http://www.zjzsliyang.com/" class="friend-card">
            <div class="thumb" style="background-image: url(/images/a6.jpg);"></div>
            <article>
                <span>zjzsliyang</span>
            </article>
            </a>
        </div>
    
        <div class="item-2">
            <a href="http://www.zjzsliyang.com/" class="friend-card">
            <div class="thumb" style="background-image: url(/images/a6.jpg);"></div>
            <article>
                <span>zjzsliyang</span>
            </article>
            </a>
        </div>
    </div>
</div>
