// Sketchy
@import "_lib/bootstrap.css"
// icon
@import "../iconFont/iconfont.css"

// structure style
@import "_page/layout.styl"


// partials layout
@import "_partials/footer.styl"
@import "_partials/paginator.styl"
@import "_partials/header.styl"

// pages layout
@import "_page/index.styl"
@import "_page/archive.styl"
@import "_page/friends.styl"
@import "_page/tag.styl"
@import "_page/category.styl"
@import "_page/post.styl"
@import "_page/about.styl"

// code highlight
@import "_lib/highlight-code.styl"
