<meta charset="UTF-8">
<% var title = page.title;

if (is_category()){
    title = 'Category - ' + page.category;
}
if (is_tag()){
    title = 'Tag - '  + page.tag;
} %>
<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
<% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
  <!-- stylesheets list from _config.yml -->
  <% theme.stylesheets.forEach(url => { %>
    <link rel="stylesheet" href="<%=url%>">
  <% }); %>
<% } %>
<!-- Google Roboto Mono Font -->
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<!-- Mathjax support -->
<%- partial('_partials/mathjax',{cache: true}) %>