.about
    margin 12em auto
    text-align center
    .avatar
        margin 1em 0
        img
            border-radius 50%
            width 15em
    .name, .signature
        font-size 1.7em
        margin 0.5em 0
    
    .title
        font-size 1.7em
        padding 1em 0 0 0

    .iconfont
        font-size 2em

    .logo-group
        text-align center
        margin 0.5em 0 2em 0
        a
            margin 0 5px 0 5px
            color #17141f
            &:hover
                color #9966FF
                background-color transparent
                text-decoration none
                cursor pointer
                -webkit-transition all .3s
                -moz-transition all .3s
                -ms-transition all .3s
                -o-transition all .3s
                transition all .3s

    .education, .experience, interest
        p
            margin 0.5em 0 0.5em 0