.archive
    margin-top 70px
    .archive-title
        text-align center
        margin-bottom 10px
        .category-icon
            font-size 28px
    .archive-subtitle
        font-size 15px
        text-align center
        margin-bottom 40px
        .archive-icon
            font-size 15px


    .archive-date
        margin-top 2em
        text-align center

    .archive-post
        margin 3em 0
        a
            color #17141f
            &:hover
                color #9966FF
                background-color transparent
                text-decoration none
                cursor pointer
                -webkit-transition all .3s
                -moz-transition all .3s
                -ms-transition all .3s
                -o-transition all .3s
                transition all .3s
        .archive-post-title
            margin 20px 0
        .archive-post-date
            font-size 16px
        .archive-more
            float right
            font-size 20px
            transition-property transform
            transition-timing-function ease-out
            transition-duration 0.3s
            &:hover
                transform translateX(5px)