.archive
    margin-top 100px
    .archive-date
        margin-top 30px
        text-align center

    .archive-post
        margin 5px 0 5px 0
        padding 5px 0 5px 0
        border-bottom 1px dashed lightgray

    .archive-post-link
        font-size 16px
        color #17141f
        &:hover
            color #9966FF
            text-decoration none
            background-color transparent
            -webkit-transition all .2s
            -moz-transition all .2s
            -ms-transition all .2s
            -o-transition all .2s
            transition all .2s
    
    .archive-post-title
        font-size 15px

    .archive-post-date
        font-size 15px
        float right