.category
    width 50%
    margin-top 70px
    margin-bottom 40px
    a
        color #17141f
        &:hover
            color #9966FF
            text-decoration none
            background-color transparent
            -webkit-transition all .2s
            -moz-transition all .2s
            -ms-transition all .2s
            -o-transition all .2s
            transition all .2s
    .category-categories
        margin 10px 0
    .category-title
        text-align center
        margin-bottom 10px
    .category-subtitle
        font-size 15px
        text-align center
        margin-bottom 40px
        .category-icon
            font-size 15px
    .category-post
        margin 5px 0 5px 0
        padding 5px 0 5px 0
        border-bottom 1px dashed lightgray
    .category-post-name
        font-size 15px

    .category-post-count
        font-size 15px
        float right
    .category-name
        margin-top 30px
        text-align center
    .category-more-button
        margin 10px auto 0 auto
        display block
        .page-link
            padding 0.5em 1.5em
        a
            color #17141f
            &:hover
                background-color rgb(249, 248, 252)
                color #9966FF
                -webkit-transition all .2s
                -moz-transition all .2s
                -ms-transition all .2s
                -o-transition all .2s
                transition all .2s