.friends-title
    margin 70px auto
    text-align center
    margin-bottom 10px
.friends-subtitle
    font-size 15px
    text-align center
    margin-bottom 40px
    .friends-icon
        font-size 15px


.friends-band
    width 100%
    height 90%
    max-width 1240px
    margin 20px auto
    display grid
    grid-template-columns 1fr
    grid-template-rows auto
    grid-gap 30px
    .friend-card
        background white
        text-decoration none
        color #444
        box-shadow 0 2px 5px rgba(0,0,0,0.1)
        display flex
        flex-direction column
        min-height 100%
        position relative
        top 0
        transition all .1s ease-in
        &:hover
            box-shadow 0 16px 32px 0 rgba(48, 55, 66, 0.15)
            transform translate(0,-5px)
            transition-delay 0s !important
        article
            padding 0 15px 15px 15px
            text-align center
        .friend-card-img
            height 80%
            width: 80%
            display block
            margin-left auto
            margin-right auto
        span
            font-size 12px
            font-weight bold
            color: #999
            text-transform uppercase
            letter-spacing .05em
            margin 2em 0 0 0


@media only screen and (min-width: 500px)
  .friends-band
    grid-template-columns 1fr 1fr


@media only screen and (min-width: 850px)
  .friends-band
    grid-template-columns 1fr 1fr 1fr
