.profile
    transform translateY(20vh)
    text-align center
    margin-bottom 10px

.profile-title
    margin 25px 0 25px 0
    text-align center

.profile-hitokoto
    text-align center

.iconfont
    font-size 36px

.logo-group
    text-align center
    margin-top 30px
    a
        margin 0 5px 0 5px
        color #17141f
        &:hover
            color #9966FF
            background-color transparent
            text-decoration none
            cursor pointer
            -webkit-transition all .5s
            -moz-transition all .5s
            -ms-transition all .5s
            -o-transition all .5s
            transition all .5s