#page
    position relative
    min-height 100vh


#main
    height 100%
    padding-bottom 100px

body
    font-family 'Open Sans', sans-serif

h1, h2, h3, h4, h5
    font-family 'Crimson Text', sans-serif

.pagination
    a
        font-family 'Crimson Text', sans-serif