.tag
    margin-top 70px
    .tag-title
        text-align center
        margin-bottom 10px
    .tag-subtitle
        font-size 15px
        text-align center
        margin-bottom 40px
        .tag-icon
            font-size 15px
    .tag-tags
        margin 10px 10px
        a
            display inline-block
            position relative
            margin 5px 5px
            color #17141f
            border: 1px solid #17141f;
            border-radius: 6px;
            &:hover
                color #9966FF
                border: 1px solid #9966FF
                background-color transparent
                text-decoration none
                cursor pointer
                transform scale(1.1)
                -webkit-transition all .3s
                -moz-transition all .3s
                -ms-transition all .3s
                -o-transition all .3s
                transition all .3s
            .tag-length-small
                font-size 15px
                margin: 3px 3px