.footer
    height 100px
    width 100%
    text-align center
    position absolute
    bottom 0
    a
        color #9966ff
        &:hover
            color #9be1fa
            text-decoration none
            background-color transparent
            -webkit-transition all .2s
            -moz-transition all .2s
            -ms-transition all .2s
            -o-transition all .2s
            transition all .2s