.navbar
    max-width 1440px
    margin 0 auto
    padding 0.5rem 4.5rem

.nav-link
    font-size 15px
    margin-left 5px !important
    margin-right 5px !important
    &:hover
        color #9966FF !important
        font-size 15px
        background-color transparent
        text-decoration none
        cursor pointer
        -webkit-transition all .3s
        -moz-transition all .3s
        -ms-transition all .3s
        -o-transition all .3s
        transition all .3s